parameters:
    database_host: 174.18.211.4
    database_port: 5432
    database_name: phpeltoken
    database_user: postgres
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: noreply@phpeltoken.com
    mailer_password: ~
    redis.host:     174.18.211.5
    redis.port:     6379
    redis.database: 1

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
